<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Goobac</title>
  <link rel="icon" type="image/png" href="assets/LOGO PRINCIPALL-01.svg" />
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <header>
    <h1>Developing for a better world !!</h1>
  </header>
  <section class="body-section">
    <img class="imagedev" src="assets/ultimo-01.svg">
  </section>
  <div class="body-cont">

  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>